/* BODY */
/*barvy:
header: #086fa1
navlist: #d6effb
*/
body
{
max-width:1280px;
min-width: 950px;
width: 80%;
margin:10px auto;
padding:0;
color: #000000;
background:#bdbdbd;
font-family: "Helvetica CE", Verdana, Arial;
font-size: 10pt;
}

#container
{
background:#bdbdbd;
}

/**********/
/* HEADER */

#header
{
margin: 0;
height: 120px;
padding: 0;
background:#086fa1;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#header-content
{
float: left;
height: inherit;
width: 498px;
padding: 0;
}

/***********/
/* CONTENT */

#container2
{
background: #d6effb;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#sidebar
{
float: left;
width: 190px;
margin: auto;
padding:0;
}

#sidebar-content
{
margin: 0.4em 0 0 0;
padding: 0.1em 0.5em;
}

#main-panel
{
margin:0 0 0 190px;
padding:0;
background: white;
min-height: 450px;
}

#main-content
{
margin-bottom: 10px;
min-height: 425px;
padding: 1em;
background: white;
text-align: justify
}

/**********/
/* FOOTER */

#footer
{
padding: 5px 0px;
font-size: 9px;
text-align: center;
background: white;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#footer a{
font-size: 9px;
}

/**********************/
/* NAVILIST - SIDEBAR */

#navlist
{
padding: 0px 1px 1px;
margin-top: 10px;
margin-left: 0;
font-size: 12px;
font-weight: bold;
width: 100%;
border-top: 1px #566a9d solid;
}

#navlist li
{
list-style: none;
margin: 0;
border-bottom: 1px #566a9d solid;
text-align: left;
}

#navlist li a
{
display: block;
padding: 0.25em 0.5em 0.25em 0.25em;
border-left: 1em solid transparent;
font-weight: normal;
}

#navlist li ul
{
list-style: none;
padding: 0 0 0 1em;
}

#navlist li ul li
{
list-style: none;
border-bottom: 0px #086fa1 solid;
}

#navlist li a:hover, #navlist li a.current
{
border-color: #086fa1;
font-weight: bold;
}

/************/
/* TOP MENU */

#menu_top{
margin: 10px auto 10px auto;
background: url(../img/bod-fial.gif) repeat-x 0 50%;
font-size: 12px;
vertical-align: middle;
z-index: 1;
}

#menu_top ul {
list-style-type: none;
text-align: left;
margin: 0px auto 0px 10px;
padding: 0px;
z-index: 2;
}

#menu_top li {
display: inline;
text-align: center;
margin: 0px 5px;
}

#menu_top li a {
padding: 1px 5px;
background-color: #ffffff;
border: 1px solid #086fa1;
}

#menu_top li a:hover {
border-top: 2px solid #086fa1;
border-bottom: 2px solid #086fa1;
background-color: #d6effb;
}

/********************************/
/* JAZYK */
#lang
{
float:left;
width:97%;
}

#lang ul
{
float:left;
width:97%;
}

p.citation_number
{
float:left;
width:3%;
}

/********/
/* LANG */
#lang
{
margin-left: 10px;
padding: 0px;
float: left;
width: 80px;
}

/* LIST */
div.list-name {
margin: 1.5em 0 0 1em;
}

div.list-mail {
margin: 0 0 0 5em;
}

div.list-phone {
margin: -2em 0 0 50%;
}

/*CV specific*/
div.cv td {
padding-left: 25px;
padding-right: 5px;
padding-bottom: 5px;
vertical-align: top;
}
/**********/
/* IMAGES */

img {
border:none;
}

img.right {
float:right;
}

.shadow {
-moz-box-shadow: 0px 0px 10px #000;
-webkit-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
}

p.little    { color: #000000; font-size:8pt;}
p.strong    { color: #000000; font-size:10pt; font-weight:bold;}

/*********/
/* FONTY */

h1 {color: #000000; font-size: 14pt;} 
h2	{color: #000000; font-size: 12pt;} 
h3	{color: #000000; font-size: 10pt;} 

/*********/
/* LINKS */

a
{
color: #086fa1;
text-decoration: none;
}

a:hover     {color: #034769;}

a.strong    {font-weight:bold;}
a.strong:hover     {color: #034769;}

a.title     {font-size:16pt; font-weight:bold;}
a.title:hover      {color: #034769;}

span.little     { color: #000000; font-size:8pt}

/********/
/* NEWS */

#akt-new
{
font-size: 80%;
display:block;
border:1px solid #6A83C2;
background-color:#FFE;
padding:0.5em 1em;
margin:0 0px 0 0;
}

#akt-new a  {font-size: 8pt}
#akt-new h1    {color: #000000; font-size: 11pt} 

/*justify*/
p.justify {text-align: justify}
p.center {text-align: center}
