/* BODY */
/*barvy:
odkazy: #485883
navstivene: #6a83c2
*/
body
{
max-width:1280px;
min-width: 950px;
width: 80%;
margin:10px auto;
padding:0;
color: #000000;
font-family: Helvetica CE, Verdana, Arial;
font-size:10pt;
}

/**********/
/* HEADER */

#header
{
width: 100%;
margin: 0;
height: 140px;
padding: 0;
background: url("../img/mrizka.png") left repeat;
}

#header-content
{
float: left;
height: inherit;
width: 498px;
padding: 0;
}

/***********/
/* CONTENT */

#container2
{
min-height: 450px;
background: #E4ECED;
}

#sidebar
{
float: left;
width: 180px;
margin: auto;
padding:0;
}

#sidebar-content
{
margin: 0.4em 0 0 0;
/*border: 1px solid grey;*/
padding: 0.1em 0.5em;
}

#main-panel
{
margin:0 0 0 180px;
padding:0;
}

#main-content
{
margin:10px auto;
min-height: 425px;
padding: 1em;
background: white;
text-align: justify
}

#akt-new
{
display:block;
border:1px solid #6A83C2;
background-color:#FFE;
padding:0.5em 1em;
margin-top:50px;
}

/**********/
/* FOOTER */

#footer
{
padding-top: 10px;
margin-top: -10px;
font: 8px Verdana;
text-align: center;
/*border-top: 1px solid blue;*/
background: white;
font: 10px Verdana;
}

#footer a{
font: 10px Verdana;
}

/**********************/
/* NAVILIST - SIDEBAR */

#navlist
{
padding: 0px 1px 1px;
margin-top: 10px;
margin-left: 0;
font: bold 12px Verdana, sans-serif;
width: 100%;
border-top: 1px #566a9d solid;
}

#navlist li
{
list-style: none;
margin: 0;
border-bottom: 1px #566a9d solid;
text-align: left;
}

#navlist li a
{
display: block;
padding: 0.25em 0.5em 0.25em 0.25em;
border-left: 1em solid #FFFFFF;
text-decoration: none;
}

#navlist li ul
{
list-style: none;
margin: 0;
padding: 0 0 0 1em;
text-align: left;
}

#navlist li ul li
{
list-style: none;
margin: 0;
border-bottom: 0px #566a9d solid;
text-align: left;
}

#navlist li a:link { color: #566a9d; }

#navlist li a:hover, #navlist li a.current
{
border-color: #6a83c2;
color: #6a83c2;
font-weight: bold;
}

#menu_top{
margin: 10px auto 10px auto;
background: url(../img/bod-fial.gif) repeat-x 0 50%;
font-size: 12px;
vertical-align: middle;
z-index: 1;
}

#menu_top ul {
list-style-type: none;
text-align: left;
vertical-align: middle;
margin: 0px auto 0px 10px;
padding: 0px;
z-index: 2;
}

#menu_top li {
display: inline;
text-align: center;
vertical-align: middle;
margin: 0px 5px;
}

#menu_top li a {
padding: 1px 5px;
color: #566a9d;
background-color: #ffffff;
border: 1px solid #566a9d;
text-decoration: none;
vertical-align: middle;
}

#menu_top li a:hover {
color: #6a83c2;
border: 1px solid #6a83c2;
border-top: 2px solid #6a83c2;
border-bottom: 2px solid #6a83c2;
background-color: #e3e6ed;
vertical-align: middle;
}

/* Articles */
p.citation
{
float:left;
width:97%;
}

p.citation_number
{
float:left;
width:3%;
 }

/*******/
/* JAZYK */
#lang
{
margin-left: 10px;
padding: 0px;
float: left;
width: 80px;
}

/*LIST-seznam*/
div.list-name {
margin: 1.5em 0 0 1em;
}

div.list-mail {
margin: 0 0 0 5em;
}

div.list-phone {
margin: -2em 0 0 50%;
}

/*CV specific*/
div.cv td {
padding-left: 25px;
padding-right: 5px;
padding-bottom: 5px;
vertical-align: top;
}

/*Obrazky*/
img {
border:none;
}

/*********/
/* FONTY */

h1 {color: #000000; font-size: 14pt;} 
h2	{color: #000000; font-size: 12pt;} 
h3	{color: #000000; font-size: 10pt;} 

a {
	color: #566a9d; 
	font-size:10pt; 
	font-weight:normal; 
	text-decoration: none
}

a:active 	{ 
color: #566a9d; 
text-decoration: none 
}

a:hover     { 
color: #6a83c2; 
text-decoration: none 
}  
	

p.little 	{ color: #000000; font-size:8pt }
p.strong	{ color: #000000; font-size:10pt; font-weight:bold }

a.strong 	{ color: #566a9d; font-size:10pt; font-weight:bold; text-decoration: none }    
	a.strong:active 	{ color: #566a9d; text-decoration: none }                                      
	a.strong:hover     { color: #6a83c2; text-decoration: none }    

a.title 	{ color: #566a9d; font-size:16pt; font-weight:bold; text-decoration: none }    
	a.title:active 	{ color: #566a9d; text-decoration: none }                                      
	a.title:hover     { color: #6a83c2;; text-decoration: none }        
	
span.little	{ color: #000000; font-size:8pt}

#akt-new {font-size: 80%}
#akt-new a {font-size: 8pt}
#akt-new  h1 	{color: #000000; font-size: 11pt} 

/*justify*/
p.justify { text-align: justify }
p.center { text-align: center }