{% extends "base.html" %}
{% load markup %}
{% load i18n %}
{% load staticfiles %}

{% block meta %}
<meta lang="cs" name="keywords" content="Oddělení polovodičů a polovodičové optoelektroniky, Fyzikální ústav Univerzity Karlovy, Praha" />
<meta lang="en" name="keywords" content="Department of Semiconductors and Semiconductor Optoelectronics, Institute of Physics at Charles University in Prague" />
<meta lang="cs" name="description" content="Oddělení polovodičů a polovodičové optoelektroniky, Fyzikální ústav Univerzity Karlovy, Praha" />
<meta lang="en" name="description" content="Department of Semiconductors and Semiconductor Optoelectronics, Institute of Physics at Charles University in Prague" />
{% endblock %}

{% block title %}{% trans "Department of Semiconductors and Semiconductor Optoelectronics, Institute of Physics at Charles University in Prague" %}{% endblock %}

{% block header %}
<div id="header" style='height:150px'>
	<img src="{% static "img/protein.png" %}" height=120px width=283px class="right" />
	<div id="header-content" style='width:600px'>
		<img src="{% static "img/logo.png" %}" height=110px width=112px style="float:left;padding-top:5px" />
		<div id="subheader" style='font-size:24px; text-shadow:rgba(38,42,38,.7) 0.1em 0.1em'>
			{% trans "Department of Semiconductors and Semiconductor Optoelectronics" %} <br /> {% trans "Institute of Physics" %}
		</div>
		<div id="subheader" style='font-size:12px'>
			{% trans "Charles University, Ke Karlovu 5, Prague 2," %} 121 16<br/>tel.: +420 221 911 331, fax: +420 224 922 797
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
<li id="active"><a href="/" id="current">&bull;&nbsp;&nbsp;{% trans "Welcome" %}</a></li>
<li>{% trans "Education" %}
    <ul>
        {% comment %} nasty hack with &nbsp;&nbsp; dig into js to avoid that{% endcomment %}
        <li><a href="/thesis_offer/">&nbsp;&nbsp;{% trans "Thesis offer" %}</a></li>
        <li><a href="{% url theses %}">&nbsp;&nbsp;{% trans "Defended thesis" %}</a></li>
        <li><a href="{% url courses %}">&nbsp;&nbsp;{% trans "Courses" %}</a></li>
        <li><a href="{% url downloads %}">&nbsp;&nbsp;{% trans "Downloads" %}</a></li>
    </ul>
</li>
<li>{% trans "People" %}
    <ul>
        <li><a href="{% url staff_list %}">&nbsp;&nbsp;{% trans "Academic staff" %}</a></li>
        <li><a href="{% url other_list %}">&nbsp;&nbsp;{% trans "Other staff" %}</a></li>
        <li><a href="{% url phd_list %}">&nbsp;&nbsp;{% trans "PhD. students" %}</a></li>
        <li><a href="{% url student_list %}">&nbsp;&nbsp;{% trans "Students" %}</a></li>
        <li><a href="{% url graduate_list%}">&nbsp;&nbsp;{% trans "Graduates" %}</a></li>
        <li><a href="{% url retired_list %}">&nbsp;&nbsp;{% trans "Retired staff" %}</a></li>
    </ul>
</li>
<li>{% trans "Science" %}
    <ul>
        <li><a href="/problems/">&nbsp;&nbsp;{% trans "Topics" %}</a></li>
        <li><a href="{% url articles %}">&nbsp;&nbsp;{% trans "Publications" %}</a></li>
        <li><a href="/coop/">&nbsp;&nbsp;{% trans "Cooperations" %}</a></li>
        <li><a href="/soft/">&nbsp;&nbsp;{% trans "Software" %}</a></li>
    </ul>
</li>
<li><a href="{% url grants %}">&bull;&nbsp;&nbsp;{% trans "Grants" %}</a></li>
<li><a href="/labs/">&bull;&nbsp;&nbsp;{% trans "Labs" %}</a></li>
<li><a href="/services/">&bull;&nbsp;&nbsp;{% trans "Services" %}</a></li>
<li><a href="/gallery/">&bull;&nbsp;&nbsp;{% trans "Gallery" %}</a></li>
<li><a href="/path/">&bull;&nbsp;&nbsp;{% trans "How to find us" %}</a></li>
{% endblock %}

{% block content %}
<h1>{{ flatpage.title }}</h1>
<p>
    {{ flatpage.content|textile }}
</p>
{% endblock %}
