{% extends "people/person/base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    {% if papers_article %}
        <h1>{% trans "Articles" %}</h1>
        <ul>
            {% for article in papers_article %}
                {% comment %}
                    TODO: make inclusive templatetag for this?
                {% endcomment %}
                <li>
                    {% if article.identification %}
                        <a href="http://dx.doi.org/{{ article.identification }}" target="_blank">
                            {{ article.citation }}
                        </a>
                    {% else %}
                        {{ article.citation }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if papers_proceeding %}
        <h1>{% trans "Conference proceedings" %}</h1>
        <ul>
            {% for article in papers_proceeding %}
                <li>
                    {{ article.citation }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}