{% extends "people/person/base.html" %}
{% load i18n article %}

{% block content %}
    {{ block.super }}
    {% if articles %}
        <h1>{% trans "Articles" %}</h1>
        <ol>
            {% for article in articles %}
                <li>
                    {% citation article %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    {% if presentations %}
        <h1>{% trans "Conference proceedings" %}</h1>
        <ol>
            {% for article in presentations %}
                <li>
                    {% citation article %}
                </li> 
            {% endfor %}
        </ol>
    {% endif %}
    {% if books %}
        <h1>{% trans "Monographies" %}</h1>
        <ol>
            {% for article in books %}
                <li>
                    {% citation article %}
                </li> 
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
