{% extends "people/person/base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}
    <h1>{% trans "Courses" %}:</h1>
    <ul>
        {% for course in courses %}
            <li>
                <p>
                    <a class="strong" href="http://is.cuni.cz/studium/predmety/index.php?do=predmet&kod={{ course.code }}" target="_blank">{{ course.name }}</a><br />
                    <em><strong>{% trans "Code" %}:</strong></em> {{ course.code }}<br />
                    {% if course.ls %}
                        <em><strong>{% trans "Range in summer semester" %}:</strong></em> {{ course.ls }}<br />
                    {% endif %}
                    {% if course.zs %}
                        <em><strong>{% trans "Range in winter semester" %}:</strong></em> {{ course.zs }}<br />
                    {% endif %}
                    {% if course.annotation %}
                    		<em><strong>{% trans "Annotation" %}:</strong></em> {{ course.annotation|safe }}<br />
                    {% endif %}
                    {% if course.note %}
                    		<em><strong>{% trans "Note" %}:</strong></em> {{ course.note }}<br />
                    {% endif %}
                    {% if course.attachment_set.all %}
                    		<a href="#" onclick="toggle_visibility('attachments_{{ course.id }}');">{% trans "Attachments" %}:</a> (&copy; {% now "Y" %} {{ person.full_name }})
                    			<div id="attachments_{{ course.id }}" style='display:block';>
                    				{% for attachment in course.attachment_set.all %}
                    					<a href="/{{ attachment.file }}">{{ attachment.title }}</a><br />
                    				{% endfor %}
                    			</div>
                    			<script type="text/javascript">
                        	    <!--script
                        	    toggle_visibility('attachments_{{ course.id }}');
                        	    // -->
                        	</script>               
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
