{% extends "people/person/base.html" %}
{% load i18n humanize %}

{% block content %}
    {{ block.super }}
    <table border="0">
        <tr>
            {% if person.human.photo %}
                <td align="center" valign="middle">
                    <img src="/media/{{ person.human.photo }}" width="120" height="154" vspace="0" hspace="30" alt="FOTO" />
                </td>
            {% endif %}
            <td>
                <h2>{{ person.full_name }}</h2>
                {% if person.human.birth_date %}
                    <em><strong>{% trans "Born" %}:</strong></em>&nbsp;&nbsp;{{ person.human.birth_date }}{% if person.human.birth_place %}, {{ person.human.birth_place }}{% endif %}
                {% endif %}
                {% if person.place %}
                    <br /><em><strong>{% trans "Affiliation" %}:</strong></em>&nbsp;&nbsp;{{ person.place.department.name }}
                    <br /><em><strong>{% trans "Room" %}:</strong></em>&nbsp;&nbsp;{{ person.place.name }}
                    <br /><em><strong>Phone:</strong></em>&nbsp;&nbsp;{{ person.place.phone }}
                    <br /><em><strong>Fax:</strong></em>&nbsp;&nbsp;{{ person.place.department.fax }}
                {% endif %}
                {% if person.human.email %}
                    <br /><em><strong>E-mail:</strong></em>&nbsp;&nbsp;<a class="strong" href="mailto:{{ person.human.email }}">{{ person.human.email }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr  size="3" width="100%"/>

    {% if person.human.interests %}
        <p class="strong" align="left">{% trans "Fields of interest and research experience" %}:</p>
            {% comment %}
                TODO: use some markdown to render interests
            {% endcomment %}
            {{ person.human.interests|safe }}
        <hr  size="3" width="100%"/>
    {% endif %}
    {% if person.human.stays %}
        <p class="strong" align="left">{% trans "Long term stays" %}:</p>
            {% comment %}
                TODO: use some markdown to render interests
            {% endcomment %}
            {{ person.human.stays|safe }}
        <hr  size="3" width="100%"/>
    {% endif %}
    {% if person.human.cv %}
        <p class="strong" align="left">{% trans "Curiculum vitae" %}:</p>
            {% comment %}
                TODO: use some markdown to render interests
            {% endcomment %}
            {{ person.human.cv|safe }}
        <hr  size="3" width="100%"/>
    {% endif %}
    {% if thesis %}
        <p class="strong" align="left">{% trans "Defended thesis" %}:</p>
            {% for th in thesis %}
                {% if th.type = 'BC' %}
                    <b>{% trans "Defended bachelor thesis" %}:</b> <a href="/people/thesis/id={{ th.id }}/">{{ th.title }}</a><br />
                {% endif %}
                {% if th.type = 'MGR' %}
                    <b>{% trans "Defended master thesis" %}:</b> <a href="/people/thesis/id={{ th.id }}/">{{ th.title }}</a><br />
                {% endif %}
                {% if th.type = 'PHD' %}
                    <b>{% trans "Defended doctoral thesis" %}:</b> <a href="/people/thesis/id={{ th.id }}/">{{ th.title }}</a><br />
                {% endif %}
                {% if th.type = 'RNDR' %}
                    <b>{% trans "Defended rigorous thesis" %}:</b> <a href="/people/thesis/id={{ th.id }}/">{{ th.title }}</a><br />
                {% endif %}
                {% if th.type = 'PROF' %}
                    <b>{% trans "Defended professor thesis" %}:</b> <a href="/people/thesis/id={{ th.id }}/">{{ th.title }}</a><br />
                {% endif %}
            {% endfor %}
        <hr  size="3" width="100%"/>
    {% endif %}
{% endblock %}
