{% extends "people/person/base.html" %}
{% load i18n markup %}

{% block content %}
    {{ block.super }}
    {% if grants %}   
        <h1>{% trans "Grants" %}:</h1>
        <ul>
        {% for grant in grants %}
            <li>
                <p>
                    <h2>{{ grant.title }}</h2>
                    <strong><em>{% trans "Grant agency" %}:</em></strong> {{ grant.agency }}<br />
                    <strong><em>{% trans "Identification number of grant" %}:</em></strong> {{ grant.number }}<br />
                    <strong><em>{% trans "Head of the project" %}:</em></strong> {{ grant.author.full_name }} {% if not grant.author.type %}{{ grant.author.place }}{% endif %}<br />
                    {% if grant.co_authors.all %}
                        <strong><em>{% trans "Vice-head of the project" %}:</em></strong>
                        {% for co_author in grant.co_authors.all %}
                            {{ co_author.full_name }}{% if not co_author.type %} ({{ co_author.place }}){% endif %}{% if not forloop.last %},{% endif %}
                        {% endfor %}<br />
                    {% endif %}
                    <br />
                    <a href="#" onclick="toggle_visibility('grant_details_{{ grant.id }}');">{% trans "Grant annotation" %}</a>
                        <div id="grant_details_{{ grant.id }}" style='display:block'>
                            {{ grant.annotation|textile }}
                        </div>
                        <script type="text/javascript">
                            <!--script
                            toggle_visibility('grant_details_{{ grant.id }}');
                            // -->
                        </script>
                    <hr style='size:3;width=100%' />
                </p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if grants_finished %}
        <h1>{% trans "Finished grants" %}:</h1>
        <ul>
        {% for grant in grants_finished %}
            <li>
                <p>
                    <h2>{{ grant.title }}</h2>
                    <strong><em>{% trans "Grant agency" %}:</em></strong> {{ grant.agency }}<br />
                    <strong><em>{% trans "Identification number of grant" %}:</em></strong> {{ grant.number }}<br />
                    <strong><em>{% trans "Head of the project" %}:</em></strong> {{ grant.author.full_name }} {% if not grant.author.type %}{{ grant.author.place }}{% endif %}<br />
                    {% if grant.co_authors.all %}
                        <strong><em>{% trans "Vice-head of the project" %}:</em></strong>
                        {% for co_author in grant.co_authors.all %}
                            {{ co_author.full_name }}{% if not co_author.type %} ({{ co_author.place }}){% endif %}{% if not forloop.last %},{% endif %}
                        {% endfor %}<br />
                    {% endif %}
                    <br />
                    <a href="#" onclick="toggle_visibility('grant_details_{{ grant.id }}');">{% trans "Grant annotation" %}</a>
                        <div id="grant_details_{{ grant.id }}" style='display:block';>
                            {{ grant.annotation }}
                        </div>
                        <script type="text/javascript">
                            <!--script
                            toggle_visibility('grant_details_{{ grant.id }}');
                            // -->
                        </script>
                    <hr style='size:3;width=100%' />
                </p>
            </li>
        	{% endfor %}
    	</ul>
    {% endif %}
{% endblock %}