{% extends "people/base.html" %}
{% load i18n article %}
{% load url from future %}

{% block content %}
    <div id="menu_top">
            {% for year in years %}
                <a href="{% url "articles" year %}" id="menu_item"><span>{{ year }}</span></a>
            {% endfor %}
    </div>
    {% if year %}
        <h2>{% trans "Year" %} {{ year }}:</h2>
    {% endif %}

    {% for article in object_list %}
        <div>
            <p class="citation_number">
                {{ first_on_page|add:forloop.counter0 }}.
            </p>
            {% citation article %}
        </div>
    {% endfor %}
    <div style='clear:both;'></div>
    {{ block.super }}
{% endblock %}
