<p class="citation">
    {% if identification and type == "ARTICLE" %}
        <a href="http://dx.doi.org/{{ identification }}" target="blank">
    {% endif %}

    <i>
    {% for author in authors %}
        {{ author.person.name }}{% if not forloop.last %},{% else %}:{% endif %}
    {% endfor %}
    </i> {{ title|safe }}.
    {% if publication %}
        <b>{{ publication }}</b>,
    {% endif %}
    {% if place %}
        {{ place }},
    {% endif %}
    {% if editors %}
        Editors: {{ editors }},
    {% endif %}
    {% if type == "BOOK" %}
        ISBN: {{ identification }},
        {% if publishers %}
            Publishers: {{ publishers }},
        {% endif %}
    {% endif %}
    {% comment %}
        TODO: this becomes highly unreadable, can spaceless tag be used to separate it to several lines?
    {% endcomment %}
    {{ year }}{% if volume %}, vol.&nbsp;{{ volume }}{% endif %}{% if pages %}, p.&nbsp;{{ pages }}{% endif %}{% if presenter %} ({{ type_verbose }} - {{ presenter.name }}){% endif %}.
    {% if identification and type == "ARTICLE"%}
        </a>
    {% endif%}
</p>
