{% extends "base_site.html" %}
{% load i18n markup %}

{% block content %}
    {{ block.super }}
    <h1>{% trans "Grants" %}:</h1>
    <p>
        <h2>{{ object.title }}</h2>
        <p>
            <strong><em>{% trans "Grant agency" %}:</em></strong> {{ object.agency }}<br />
            <strong><em>{% trans "Identification number of grant" %}:</em></strong> {{ object.number }}<br />
            <strong><em>{% trans "Head of the project" %}:</em></strong> {{ object.investigator_full_name }} {% if object.investigator_institution %}({{ object.investigator_institution }}){% endif %}<br />
            {% if object.collaborators.all %}
                <strong><em>{% trans "Vice-head of the project" %}:</em></strong>
                {% for collaborator in object.collaborators.all %}
                    {{ collaborator.full_name }}{% if collaborator.institution %} ({{ collaborator.institution }}){% endif %}{% if not forloop.last %},{% endif %}
                {% endfor %}<br />
            {% endif %}
        </p>
        <p>
            {{ object.annotation|markdown }}
        </p>
        <hr size="3" width="100%" />
    </p>
{% endblock %}
