{% extends "people/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for people in object_list %}
        <div class="list-name">
            <strong><a href="{% url "person_detail" people.human.nickname %}">{{ people.full_name }}</a></strong>
            {% if people.human.subtitle %}
                <span class="little"><strong> {{ people.human.subtitle }}</strong></span>
            {% endif %}
        </div>
        {% if people.human.email %}
            <div class="list-mail">
                <p class="little">
                    <strong>E-mail:</strong> {{ people.human.email }}
                </p>
            </div>
        {% endif %}
        {% if people.place.phone %}
            <div class="list-phone">
                <p class="little">
                    <strong>Tel.:</strong> {{ people.place.phone }}
                </p>
            </div>
        {% endif %}
    {% endfor %}

    {{ block.super }}
{% endblock %}