{% extends "people/base.html" %}
{% load i18n %}
{% load url from future %}
{% load email_obfuscator %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="people_list">
    <tr>
        <th></th>
        <th>{% trans "E-mail" %}</th>
        <th>{% trans "Phone" %}</th>
    </tr>
    {% for people in object_list %}
        <tr>
            <td>
            <strong>
                <a href="{% url "person_detail" people.human.nickname %}">{{ people.full_name }}</a>
            </strong>
            {% if people.human.subtitle %}
            <br />
                <span class="little"><strong> {{ people.human.subtitle }}</strong></span>
            {% endif %}
            </td>
            <td>
            <p class="little">
                {{ people.human.email|obfuscate }}
            </p>
            </td>
            <td>
            <p class="little">
            {% for i in people.place.all %}
                {% if i.phone %}{{ i.phone }}{% if not forloop.last %}<br />{% endif %}{% endif %}
            {% endfor %}
            </p>
            </td>
        </tr>
    {% endfor %}
    </table>
    {{ block.super }}
{% endblock %}
