{% extends "base.html" %}
{% load markup %}
{% load i18n %}
{% load staticfiles %}

{% block meta %}
<meta lang="cs" name="keywords" content="Oborová rada 4F4, Fyzikální ústav Univerzity Karlovy, Praha" />
<meta lang="en" name="keywords" content="4F4 Branch Board, Institute of Physics at Charles University in Prague" />
<meta lang="cs" name="description" content="Oborová rada 4F4, Fyzikální ústav Univerzity Karlovy, Praha" />
<meta lang="en" name="description" content="4F4 Branch Board, Institute of Physics at Charles University in Prague" />
{% endblock %}

{% block title %}{% trans "Charles University in Prague" %}{% endblock %}

{% block header %}
<div id="header-content" style="width:800px">
    <img src="{% static "img/logo.png" %}" height=110 style="float:left;padding-top:5px" />
    <div class="subheader" style='font-size:24px; text-shadow:rgba(0,0,0,.7) 0.1em 0.1em'>
        {% trans "4F4 Branch Board" %} <br /> {% trans "Biophysics, Chemical and Macromolecular Physics" %}
    </div>
    <div class="subheader" style='font-size:12px;'>
        {% trans "Charles University, Ke Karlovu 5, Prague 2," %} 121 16<br />
        tel.: +420 221 911 345, fax: +420 224 922 797
    </div>
</div>
{% endblock %}

{% block sidebar %}
<li id="active"><a href="{% url "flatpage" "4F4/" %}" id="current">{% trans "Annotation" %}</a></li>
<li><a href="{% url "flatpage" "4F4/structure/" %}">{% trans "Members of the branch board" %}</a></li>
<li><a href="{% url "flatpage" "4F4/nursery/" %}">{% trans "Nursery" %}</a></li>
<li><a href="{% url "flatpage" "4F4/themes/" %}">{% trans "Themes" %}</a></li>
<li><a href="{% url "flatpage" "4F4/students/" %}">{% trans "PhD. students" %}</a></li>
<li><a href="{% url "flatpage" "4F4/wds/" %}">{% trans "Week of doctoral students" %}</a></li>
<li><a href="{% url "flatpage" "4F4/contacts/" %}">{% trans "Contacts" %}</a></li>
{% endblock %}

{% block content %}
<h1>{{ flatpage.title }}</h1>
<p>
    {{ flatpage.content|markdown }}
</p>
{% endblock %}
