{% extends "base_site.html" %}
{% load markup i18n%}
{% block content %}
<a href="http://www.cuni.cz/" target="blank">{% trans "Charles University in Prague" %}</a> &gt;
<a href="http://www.mff.cuni.cz/" target="blank">{% trans "Faculty of Mathematics and Physics" %}</a> &gt;
<a href="http://www.mff.cuni.cz/fakulta/struktura/fuuk.htm" target="blank">{% trans "Institute of Physics" %}</a>
<h1>{{ flatpage.title }}</h1>
<p>
{{ flatpage.content|textile }}
{% if news_list %}
    <div id="akt-new">
        <h1>{% trans "News" %}:</h1>
        {% for news in news_list %}
            {% if news.hyperlink %}
                <a href="{{ news.hyperlink }}" target="blank">
            {% endif %}
            <b>{{ news.title }}</b>
            {% if news.hyperlink %}
                </a>
            {% endif %}
            <br />
            {{ news.content }}
            {% if not forloop.last %}
            <br /><br />
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
</p>
{% endblock %}
