{% extends "people/base.html" %}
{% load i18n %}

{% block content %}
    {% if object_list %}
        <h1>{% trans "Current grants" %}</h1>
        <ul>
            {% for grant in object_list %}
                <li><strong><a href="{{ grant.id }}">{{ grant.title }} ({{ grant.agency }})</a></strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if grants_finished %}
        <h1>{% trans "Ended grants" %}</h1>
        <ul>
            {% for grant in grants_finished %}
                <li><strong><a href="{{ grant.id }}">{{ grant.title }} ({{ grant.agency }})</a></strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ block.super }}
{% endblock %}