{% extends "people/base.html" %}
{% load i18n %}

{% block content %}
    <h2>{{ thesis.title }}</h2>
        <strong>{% trans "Author" %}:</strong> <a href="{% url person_detail thesis.author.human.nickname %}">{{ thesis.author.full_name }}</a><br />
        <strong>{% trans "Supervisor" %}:</strong> {{ thesis.advisor.full_name }}<br />
        {% if thesis.consultants %}
            <strong>{% trans "Consultants"%}:</strong> {% for i in thesis.consultants.all %}{{ i.full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
        {% endif %}
        <strong>{% trans "Type" %}:</strong> {{ thesis.get_type_display }}</p>
        {% if thesis.defended %}
            <p><strong>{% trans "Abstract" %}:</strong> {{ thesis.abstract|safe }}</p>
            <strong>{% trans "Keywords" %}:</strong> {{ thesis.keywords }}</p>
        {% else %}
            <p><strong>{% trans "Annotation" %}:</strong> {{ thesis.annotation|safe }}</p>
        {% endif %}
        {% if thesis.thesis_file %}
            <p><strong>{% trans "Download" %}:</strong> <a href="/{{ thesis.thesis_file }}">{{ thesis.title }}</a>
        {% endif %}
        <hr size="1" width="100%" /> 
    {{ block.super }}
{% endblock %}