{% extends "people/person/base.html" %}
{% load i18n article %}

{% block content %}
    {{ block.super }}
    <div id="menu_top">
        <a id="menu_item" class="title" href="{% url "person_articles_first" human.nickname %}"><span>{% trans "1st author" %}</span></a>
        <a id="menu_item" class="title" href="{% url "person_articles" human.nickname %}"><span>{% trans "All papers" %}</span></a>
    </div>
    {% if articles %}
        <h1>{% trans "Articles" %}</h1>
        {% for article in articles %}
            <div>
                <p class="citation_number">
                    {{ forloop.counter }}.
                </p>
                {% citation article %}
            </div>
        {% endfor %}
    {% endif %}
    {% if presentations %}
        <h1>{% trans "Conference proceedings" %}</h1>
        {% for article in presentations %}
            <div>
                <p class="citation_number">
                    {{ forloop.counter }}.
                </p>
                {% citation article %}
            </div>
        {% endfor %}
        <div style='clear:both;'></div>
    {% endif %}
    {% if books %}
        <h1>{% trans "Monographies" %}</h1>
        {% for article in books %}
            <div>
                <p class="citation_number">
                    {{ forloop.counter }}.
                </p>
                {% citation article %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
