{% extends "people/base.html" %}
{% load i18n %}
{% load url from future %}
{% load email_obfuscator %}

{% block content %}
    <h1>{% trans "Students" %}</h1>
    {% if object_list %}
        <h2>{% trans "Master study students" %}:</h2>
        <table>
        {% for people in object_list %}
            <tr>
                <td style="width:200px"><a href="{% url "person_detail" people.human.nickname %}">{{ people.full_name }}</a></td>
                <td style="width:300px">{% if people.human.email %}<strong>E-mail:</strong> {{ people.human.email|obfuscate }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    <hr style='size:1;width=100%' />

    {% if bachelors %}
        <h2>{% trans "Bachelor study students" %}:</h2>
        <table>
        {% for people in bachelors %}
            <tr>
                <td style="width:200px"><a href="{% url "person_detail" people.human.nickname %}">{{ people.full_name }}</a></td>
                <td style="width:300px">{% if people.human.email %}<strong>E-mail:</strong> {{ people.human.email|obfuscate }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if students %}
        <h2>{% trans "Other students" %}:</h2>
        <table>
        {% for people in students %}
            <tr>
                <td style="width:200px"><a href="{% url "person_detail" people.human.nickname %}">{{ people.full_name }}</a></td>
                <td style="width:300px">{% if people.human.email %}<strong>E-mail:</strong> {{ people.human.email|obfuscate }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {{ block.super }}
{% endblock %}
