<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MFF UK: Oddělení fyziky biomolekul</title>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css">
<script src="{{ MEDIA_URL }}css/js/scripts.js" type="text/javascript"></script>
</head>

<body>
<div id="header"></div>

<div id="sidebar">
<div id="ie-space"></div>
<div id="sidebar-content">
<ul id="navlist" >
	<li id="active"><a href="/" id="current">Vítejte</a></li>
	<li>Studium
		<ul>
			<li><a href="//">Nabídka prací</a></li>
			<li><a href="//">Obhájené práce</a></li>
			<li><a href="//">Letní škola</a></li>
		</ul>
	</li>
	<li>Lidé
		<ul>
			<li><a href="/people/staff">Členové oddělení</a></li>
			<li><a href="/people/phd/">Doktorandi</a></li>
			<li><a href="/people/students">Studenti</a></li>
		</ul>
	</li>
	<li>Věda
		<ul>
			<li><a href="/problems/">Problematika</a></li>
			<li><a href="/articles/">Publikace</a></li>
			<li><a href="/grants/">Granty</a></li>
			<li><a href="/labs/">Laboratoře</a></li>
			<li><a href="/coop/">Spolupráce</a></li>
		</ul>
	</li>
	<li><a href="/galery/">Galerie</a></li>
	<li><a href="/path/">Kde nás najdete</a></li>
</ul>
</div>
</div>
<div id="main-panel">
<div id="main-content">
{% block content %}{% endblock %}
</div>
</div>
<div id="footer">
﻿
<div id="paticka"> S připomínkami a dotazy se obracejte na <a href="mailto:profant@karlov.mff.cuni.cz,pazderka@karlov.mff.cuni.cz">správce</a> stránek.
</div>

</div>

</div>

</body>
</html>