<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        {% load i18n %}
        {% block meta %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta lang="cs" name="keywords" content="Oddělení fyziky biomolekul, Fyzikální ústav Univerzity Karlovy, Praha" />
        <meta lang="en" name="keywords" content="Division of Biomolecular Physics, Institute of Physics at Charles University in Prague" />
        <meta lang="cs" name="description" content="Oddělení fyziky biomolekul, Fyzikální ústav Univerzity Karlovy, Praha" />
        <meta lang="en" name="description" content="Division of Biomolecular Physics, Institute of Physics at Charles University in Prague" />
        {% endblock %}
        <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}img/favicon.ico' />

        <title>{% block title %}{% trans "Division of Biomolecular Physics, Institute of Physics at Charles University in Prague" %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
        {% block extrahead %}{% endblock %}
        {% if media %}{{ media }}{% endif %}
        <script type="text/javascript" src="{{ MEDIA_URL }}js/cookie.js"></script> 
        <script src="{{ MEDIA_URL }}js/scripts.js" type="text/javascript"></script>
        <script type="text/javascript"> 
                window.onload = function () {
                    compactMenu('navlist',true,'&bull;&nbsp; ');
                    selfLink('navlist','current',true);
                    stateToFromStr('navlist',retrieveCookie('menuState'));
                }
                window.onunload = function () {
                    setCookie('menuState',stateToFromStr('navlist'),0,'/');
                }
        </script>
        <script type="text/javascript">
                function toggle_visibility(id) {
                    var e = document.getElementById(id);
                    if(e.style.display == 'block')
                        e.style.display = 'none';
                    else
                        e.style.display = 'block';
                }
        </script> 
    </head>
    
    <body>
        <div id="container" class="shadow">
            <div id="container2">
            <!-- Header -->
            <div id="header_1"></div>
            <div id="stripe"></div>
            <div id="header">
                {% block header %}
                <img src="{{ MEDIA_URL }}img/protein.png" height=120px width=283px class="right" />
                <div id="header-content">
                    <img src="{{ MEDIA_URL }}img/logo.png" height=110px width=112px style="float:left;padding-top:5px" />
                    <div id="subheader" style='font-size:24px; text-shadow:rgba(38,42,38,.7) 0.1em 0.1em'>
                        {% trans "Division of Biomolecular Physics" %} <br /> {% trans "Institute of Physics" %}
                    </div>
                    <div id="subheader" style='font-size:12px'>
                        {% trans "Charles University, Ke Karlovu 5, Prague 2," %} 121 16<br/>tel.: +420 221 911 345, fax: +420 224 922 797
                    </div>
                </div>
                {% endblock %}
            </div>
            <div id="stripe" style="position:relative;z-index:2"></div>
            <div id="stripe" style="background:#262a26;position:relative;z-index:1" class="shadow"></div>
            <!-- END Header -->
                <!-- Sidebar -->
                <div id="sidebar">
                    <div id="lang">
                    {% for lang in LANGUAGES reversed %}
                        {% ifnotequal lang.0 LANGUAGE_CODE %}
                            <form method="post" action="{% url set_language %}">
                                <input type="hidden" name="language" value="{{ lang.0 }}" />
                                <input type="image" alt="{{ lang.1 }}" src="{{ MEDIA_URL }}img/{{ lang.0 }}.png" />
                            </form>
                        {% endifnotequal %}
                    {% endfor %}
                    </div>
                    <ul id="navlist" >
                        {% block sidebar %}
                        <li id="active"><a href="/" id="current">&bull;&nbsp;&nbsp;{% trans "Welcome" %}</a></li>
                        <li>{% trans "Education" %}
                            <ul>
                                {% comment %} nasty hack with &nbsp;&nbsp; dig into js to avoid that{% endcomment %}
                                <li><a href="/thesis_offer/">&nbsp;&nbsp;{% trans "Thesis offer" %}</a></li>
                                <li><a href="{% url theses %}">&nbsp;&nbsp;{% trans "Defended thesis" %}</a></li>
                            </ul>
                        </li>
                        <li>{% trans "People" %}
                            <ul>
                                <li><a href="{% url staff_list %}">&nbsp;&nbsp;{% trans "Staff" %}</a></li>
                                <li><a href="{% url phd_list %}">&nbsp;&nbsp;{% trans "PhD. students" %}</a></li>
                                <li><a href="{% url student_list %}">&nbsp;&nbsp;{% trans "Students" %}</a></li>
                            </ul>
                        </li>
                        <li>{% trans "Science" %}
                            <ul>
                                <li><a href="/problems/">&nbsp;&nbsp;{% trans "Topics" %}</a></li>
                                <li><a href="{% url articles %}">&nbsp;&nbsp;{% trans "Publications" %}</a></li>
                                <li><a href="{% url grants %}">&nbsp;&nbsp;{% trans "Grants" %}</a></li>
                                <li><a href="/labs/">&nbsp;&nbsp;{% trans "Labs" %}</a></li>
                                <li><a href="/coop/">&nbsp;&nbsp;{% trans "Cooperations" %}</a></li>
                                <li><a href="/soft/">&nbsp;&nbsp;{% trans "Software" %}</a></li>
                            </ul>
                        </li>
                        <li><a href="/gallery/">&bull;&nbsp;&nbsp;{% trans "Gallery" %}</a></li>
                        <li><a href="/path/">&bull;&nbsp;&nbsp;{% trans "How to find us" %}</a></li>
                        {% endblock %}
                    </ul>
                </div>
                <!-- END Sidebar -->

                <!-- Content -->
                <div id="main-panel">
                    <div id="main-content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div id="stripe" style="height:4px"></div>
                <!-- END Content -->
            </div>
            <!-- Footer -->
            <div id="footer">
                <div id="paticka">
                    {% trans "Contact" %} <a href="mailto:profant@karlov.mff.cuni.cz,pazderka@karlov.mff.cuni.cz">{% trans "webmasters" %}</a> {% trans  "for any suggestion or more information." %}
                </div>
                <!-- END Content + Footer -->
            </div>
        </div>
    </body>
</html>
