{% extends "base.html" %}

{% block content %}
	<a href="http://www.cuni.cz/" target="_blank">Univerzita Karlova v Praze</a> &gt; 
	<a href="http://www.mff.cuni.cz/" target="_blank">Matematicko&ndash;fyzikální fakulta</a> &gt; 
	<a href="http://www.mff.cuni.cz/fakulta/struktura/fuuk.htm" target="_blank">Fyzikální ústav</a> 
		<h2>Oddělení fyziky biomolekul</h2> 
			<p>Oddělení fyziky biomolekul (OFB) se zabývá základním výzkumem v oblasti molekulární biofyziky zaměřeným na studium fyzikálně&ndash;chemických vlastností,
			struktury a interakcí biomolekul, především nukleových kyselin, proteinů a porfyrinů a jejich biologicky významných analog. Při studiu, které probíhá za spolupráce s
			dalšími českými a zahraničními skupinami, je používán komplexní přístup zahrnující metody Ramanovy, infračervené a UV&ndash;VIS absorpční spektroskopie,
			kvantově&ndash;chemické výpočty a molekulárně&ndash;dynamické modelování. </p> 
			<p>Oddělení fyziky biomolekul se významným způsobem podílí na výuce v oboru &quot;<a href="http://www.mff.cuni.cz/studium/bcmgr/ok/f1b8.htm" target="_blank">Biofyzika
			a chemická fyzika</a>&quot; navazujícího magisterského studia fyziky na Matematicko&ndash;fyzikální fakultě UK formou přednášek, laboratorních cvičení a vedení
			diplomových prací. Fyzikální ústav UK je také garantujícím pracovištěm tohoto studijního oboru.</p> 
			<p>Řada pracovníků oddělení se také podílí na výuce v bakalářském studiu v oborech &quot;<a href="http://www.mff.cuni.cz/studium/bcmgr/ok/f1a2.htm"
			target="_blank">Obecná fyzika</a>&quot; a &quot;<a href="http://www.mff.cuni.cz/studium/bcmgr/ok/f1a3.htm" target="_blank">Fyzika zaměřená na vzdělávání</a>
			&quot; formou přednášek, cvičení, výuky v základním praktiku a vedením bakalářských prací.</p>
{% endblock %}
