{% extends "base.html" %}
{% load i18n %}
{% block content %}
	{% if grants_list %}
		<h1>{% trans "Current grants" %}</h1>
	{% endif %}
	<ul>
		{% for grant in grants_list %}
			<li><p><a href="{{ grant.number }}" class="strong">{{ grant.title }}</a></ br></p></li>
		{% endfor %}
	</ul>
	{% if grants2_list %}
		<h1>{% trans "Ended grants" %}</h1>
	{% endif %}
	<ul>
		{% for grant in grants2_list %}
			<li><p><a href="{{ grant.number }}" class="strong">{{ grant.title }}</a></ br></p></li>
		{% endfor %}
	</ul>
{% endblock %}