{% extends "base.html" %}
{% load i18n %}
{% block content %}
	{% for person in human.person_set.all %}
		{% include "people_base.html" %}
	{% endfor %}
	<h2>{% trans "Grants" %}:</h2>
	{% for grant in grants %}
		<h2>{{ grant.title }}</h2>
		<p>
			<strong><em>{% trans "Grant agency" %}:</em></strong> {{ grant.agency }}<br />
			<strong><em>{% trans "Identification number of grant" %}:</em></strong> {{ grant.number }}<br />
			<strong><em>{% trans "Head of the project" %}:</em></strong> {{ grant.author.prefix }} {{ grant.author.first_name }} {{ grant.author.last_name }}{% if grant.author.suffix %}, {{ grant.author.suffix }}{% endif %}<br />
			{% if grant.co_authors.all %}
				<strong><em>{% trans "Vice-head of the project" %}:</em></strong> {% for co_author in grant.co_authors.all %}{{ co_author.prefix }} {{ co_author.first_name }} {{ co_author.last_name }}{% if co_author.suffix %}, {{ co_author.suffix }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
			{% endif %}
		</p>
		<p>
			{{ grant.annotation }}
		</p>
		<hr size="3" width="100%" />
	{% endfor %}
{% endblock %}