{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% if people2_list or people_list %}
<h1>{% trans "Students" %}</h1>
{% endif %}
{% if people_list %}
<h2>{% trans "Master study students" %}:</h2>
{% endif %}
<ul>
{%for people in people_list %}
<li><a class="normal" href=/people/detail/{{ people.human.nickname }}>{{ people.prefix }} {{ people.first_name }} {{ people.last_name }} {{ people.suffix }}</a></li>
{% endfor %}
</ul>
<hr size="1" width="100%" />
{% if people2_list %}
<h2>{% trans "Bachelor study students" %}:</h2>
{% endif %}
<ul>
{%for people in people2_list %}
<li><a class="normal" href=/people/detail/{{ people.human.nickname }}>{{ people.prefix }} {{ people.first_name }} {{ people.last_name }} {{ people.suffix }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
