{% extends "people/person/base.html" %}
{% load i18n humanize markup %}
{% load email_obfuscator %}
{% load url from future %}

{% block content %}
    {{ block.super }}
    <table border="0">
        <tr>
            {% if human.photo %}
                <td align="center" valign="middle">
                    <img src="{{ human.photo.url }}" width="120" height="154" vspace="0" hspace="30" alt="FOTO" />
                </td>
            {% endif %}
            <td>
                <h2>{{ person.full_name }}</h2>
                {% if human.subtitle %}
                    <strong>{{ human.subtitle }}</strong><br>
                {% endif %}
                {% if human.birth_date %}
                    <em><strong>{% trans "Born" %}:</strong></em>&nbsp;&nbsp;{{ human.birth_date }}{% if human.birth_place %}, {{ human.birth_place }}{% endif %}
                {% endif %}
                {% if person.place.all %}
                    <br /><em><strong>{% trans "Affiliation" %}:</strong></em>&nbsp;&nbsp;{% for i in place %}{{ i.department.name_any }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    <br /><em><strong>{% trans "Room" %}:</strong></em>&nbsp;&nbsp;{% for i in place %}{{ i.name_any }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    <br /><em><strong>{% trans "Phone" %}:</strong></em>&nbsp;&nbsp;{% for i in place %}{{ i.phone }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    <br /><em><strong>Fax:</strong></em>&nbsp;&nbsp;{% for i in place %}{{ i.department.fax }}{% if not forloop.last %}, {% endif %}{% endfor %}
                {% endif %}
                {% if human.email %}
                    <br /><strong><em>E-mail:</em>&nbsp;&nbsp;{{ human.email|obfuscate_mailto }}</strong>
                {% endif %}
                {% if human.homepage %}
                    <br /><strong><em>Homepage:</em>&nbsp;&nbsp;<a href="{{ human.homepage }}">{{ human.homepage }}</a></strong>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr  style='size:3;width:100%'/>
    <div class="cv">
    {% if human.interests %}
        <p class="strong" align="left">{% trans "Fields of interest and research experience" %}:</p>
            {{ human.interests|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.stays %}
        <p class="strong" align="left">{% trans "Long term stays" %}:</p>
            {{ human.stays|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.cv %}
        <p class="strong" align="left">{% trans "Curiculum vitae" %}:</p>
            {{ human.cv|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.cv_file %}
        <p class="strong" align="left"><a href="{{ human.cv_file.url }}" style="text-decoration:underline">{% trans "Download curiculum vitae" %}</a></p>
    {% endif %}
    </div>
    {% if theses_ongoing %}
        <p class="strong" align="left">{% trans "Current thesis" %}:</p>
            <ul>
            {% for thesis in theses_ongoing %}
                 <li>{{ thesis.get_type_display }}{% trans "'s thesis" %}: <a href="{% url "theses_detail" thesis.id %}">{{ thesis.title }}</a></li>
            {% endfor %}
            </ul>
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if theses %}
        <p class="strong" align="left">{% trans "Defended thesis" %}:</p>
            <ul>
            {% for thesis in theses %}
                <li>{{ thesis.get_type_display }}{% trans "'s thesis" %}:</b> <a href="{% url "theses_detail" thesis.id %}">{{ thesis.title }}</a></li>
            {% endfor %}
            </ul>
        <hr  style='size:3;width:100%'/>
    {% endif %}
{% endblock %}
