{% extends "people/person/base.html" %}
{% load i18n humanize markup %}
{% load email_obfuscator %}
{% load url from future %}

{% block content %}
    {{ block.super }}
        {% if human.photo %}
            <div class="person_photo">
                <img src="{{ human.photo.url }}" width="120" height="154" alt="{% trans "FOTO" %}" />
            </div>
        {% endif %}
        <div class="person_table">
            <h2>{{ person.full_name }}</h2>
            {% if human.subtitle %}
                <div class="person_sub">{{ human.subtitle }}</div>
            {% endif %}
            {% if human.birth_date %}
               <div><em><strong>{% trans "Born" %}:</strong></em> {{ human.birth_date }}{% if human.birth_place %}, {{ human.birth_place }}{% endif %}</div>
            {% endif %}
            {% if human.email %}
                <div><strong><em>E-mail:</em> {{ human.email|obfuscate_mailto }}</strong></div>
            {% endif %}
            {% if human.homepage %}
                <div><strong><em>Homepage:</em> <a href="{{ human.homepage }}">{{ human.homepage }}</a></strong></div>
            {% endif %}
            <ul>
                {% for place in person.place.all %}
                    {% if place.department %}<li><em><strong>{% trans "Affiliation" %}:</strong></em> {{ place.department.name_any }}{% endif %}</li>
                    <li><em><strong>{% trans "Room" %}:</strong></em> {{ place.name_any }}</li>
                    {% if place.phone %}<li><em><strong>{% trans "Phone" %}:</strong></em> {{ place.phone }}{% endif %}</li>
                    {% if place.department.fax %}<li><em><strong>Fax:</strong></em> {{ place.department.fax }}{% endif %}</li>
                    {% if not forloop.last %}<li>&nbsp;</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    <hr class="line">
    <div class="cv">
    {% if human.interests %}
        <p class="strong" align="left">{% trans "Fields of interest and research experience" %}:</p>
            {{ human.interests|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.stays %}
        <p class="strong" align="left">{% trans "Long term stays" %}:</p>
            {{ human.stays|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.cv %}
        <p class="strong" align="left">{% trans "Curiculum vitae" %}:</p>
            {{ human.cv|textile }}
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if human.cv_file %}
        <p class="strong" align="left"><a href="{{ human.cv_file.url }}" style="text-decoration:underline">{% trans "Download curiculum vitae" %}</a></p>
    {% endif %}
    </div>
    {% if theses_ongoing %}
        <p class="strong" align="left">{% trans "Current thesis" %}:</p>
            <ul>
            {% for thesis in theses_ongoing %}
                 <li>{{ thesis.get_type_display }}{% trans "'s thesis" %}: <a href="{% url "theses_detail" thesis.id %}">{{ thesis.title }}</a></li>
            {% endfor %}
            </ul>
        <hr  style='size:3;width:100%'/>
    {% endif %}
    {% if theses %}
        <p class="strong" align="left">{% trans "Defended thesis" %}:</p>
            <ul>
            {% for thesis in theses %}
                <li>{{ thesis.get_type_display }}{% trans "'s thesis" %}:</b> <a href="{% url "theses_detail" thesis.id %}">{{ thesis.title }}</a></li>
            {% endfor %}
            </ul>
        <hr class="line">
    {% endif %}
{% endblock %}
