{% extends "people/person/base.html" %}
{% load i18n humanize %}

{% block content %}
    {{ block.super }}
    {% if students %}
        <h2>{% trans "Students" %}:</h2>
    {% endif %}
    <ul>
        {% for student in students %}
            <li>
                <p align="justify"><a href="{% url "person_detail" student.human.nickname %}" class="strong">{{ student.full_name }}</a><br />
                    {% if student.type = 'BC' %}
                        {{ student.class_year|ordinal }} {% trans "year of Bc. study" %}<br />
                    {% endif %}
                    {% if student.type = 'MGR' %}
                        {{ student.class_year|ordinal }} {% trans "year of Mgr. study" %}<br />
                    {% endif %}
                    {% if student.type = 'PHD' %}
                        {{ student.class_year|ordinal }} {% trans "year of PhD. study" %}<br />
                    {% endif %}
                    {% for thesis in student.thesis_set.all %}
                        {% if thesis.type = student.type %}
                            <strong>{{ thesis.get_type_display }} {% trans "thesis" %}:</strong> {{ thesis.title }}
                        {% endif %}
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
    {% if students_finished %}
        <h2>{% trans "Finished students" %}:</h2>
    {% endif %}
    <ul>
        {% for student in students_finished %}
            <li>
                <p align="justify"><strong>{{ student.full_name }}</strong><br />
                    {% for thesis in student.thesis_set.all %}
                        {{ thesis.year }} - <strong>{{ thesis.get_type_display }} {% trans "thesis" %}:</strong> <a href="{% url "theses_detail" thesis.id %}">{{ thesis.title }}</a>
                        {% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
