<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        {% load i18n %}
        {% load staticfiles %}
        {% load email_obfuscator %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% block meta %}
        {% endblock %}
        <link rel='shortcut icon' type='image/x-icon' href='{% static "img/favicon.ico" %}' />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "css/user_styles.css" %}" type="text/css" />
        {% block extrahead %}{% endblock %}
        {% if media %}{{ media }}{% endif %}
        <script type="text/javascript" src="{% static "js/cookie.js" %}"></script>
        <script src="{% static "js/scripts.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
                window.onload = function () {
                    compactMenu('navlist',true,'&bull;&nbsp; ');
                    selfLink('navlist','current',true);
                    stateToFromStr('navlist',retrieveCookie('menuState'));
                }
                window.onunload = function () {
                    setCookie('menuState',stateToFromStr('navlist'),0,'/');
                }
        </script>
        <script type="text/javascript">
                function toggle_visibility(id) {
                    var e = document.getElementById(id);
                    if(e.style.display == 'block')
                        e.style.display = 'none';
                    else
                        e.style.display = 'block';
                }
        </script>
    </head>

    <body>
        <div id="container" class="shadow">
            <div id="container2">
            <!-- Header -->
            <div id="header_1"></div>
            <div class="stripe"></div>
            {% block header %}
            {% endblock %}
            <div class="stripe" style="position:relative;z-index:2"></div>
            <div class="stripe" style="background:#262a26;position:relative;z-index:1" class="shadow"></div>
            <!-- END Header -->
                <!-- Sidebar -->
                <div id="sidebar">
                    <div id="lang">
                    {% for lang in LANGUAGES reversed %}
                        {% ifnotequal lang.0 LANGUAGE_CODE %}
                            <form method="post" action="{% url "set_language" %}">
                                <input type="hidden" name="language" value="{{ lang.0 }}" />
                                <input type="image" alt="{{ lang.1 }}" src="{% static "img/" %}{{ lang.0 }}.png" />
                            </form>
                        {% endifnotequal %}
                    {% endfor %}
                    </div>
                    <ul id="navlist" >
                        {% block sidebar %}
                        {% endblock %}
                    </ul>
                </div>
                <!-- END Sidebar -->

                <!-- Content -->
                <div id="main-panel">
                    <div id="main-content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="stripe" style="height:4px"></div>
                <!-- END Content -->
            </div>

            <div id="footer">
                <span>{% trans "Contact" %} {{ 'alma-adm@karlov.mff.cuni.cz'|obfuscate_mailto:_("webmasters") }} {% trans  "for any suggestion or more information." %}</span>
                <a class="admin-link" href="{% url 'admin:index' %}">{% trans "Administration" %}</a>
            </div>
        </div>
    </body>
</html>
